.biography {
    display: flex;
    max-width: 1165px;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 125px;

    &__description {
        @include font-settings("Roboto", serif, auto, normal, "wdth", 100);
        @include font-dimensions(500, 18px);
        line-height: 1.172;
    }

    &__image {
        width: 49%;
        order: 0;
    }

    &__image>img {
        width: 100%;
    }

    &__content {
        width: 39%;
        order: 2;
        @include flex-settings(flex, column);
    }

    &__content>h2 {
        font-family: "Playfair Display", serif;
        @include font-dimensions(500, 86px);
        max-width: 230px;
        margin: 180px 0 55px;
    }

    &__position {
        margin: 0;
    }

    &__skills {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        list-style-type: none;
    }

    &__skill-item:nth-child(-n+3)::after {
        content: " /";
    }

    &__rectangle {
        margin: 30px 0 20px;
        width: 20px;
        height: 6px;
        background-color: black;
    }

    &__quote {
        font-family: "Bitter", serif;
        @include font-dimensions(400, 26px);
        margin: 0;
    }

    &__br_mobile {
        display: none;
    }

    &__header {
        order: 1;
        flex-grow: 1;
    }

    &__text {
        @include font-settings("Roboto", serif, auto, normal, "wdth", 100);
        @include font-dimensions(700, 24px);
        line-height: 1.172;
        transform: rotate(-90deg) translateX(-17%) translateY(-79%);
        margin: 0;
    }
}