@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Bold.ttf") format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Medium.ttf") format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Playfair Display";
    src: url("fonts/PlayfairDisplay-Medium.ttf") format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Playfair Display";
    src: url("fonts/PlayfairDisplay-SemiBold.ttf") format("ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Bitter";
    src: url("fonts/Bitter-Regular.ttf") format("ttf");
    font-weight: 400;
}