.footer {
    @include font-settings("Roboto", serif, auto, normal, "wdth", 100);
    height: 168px;
    max-width: 1440px;
    @include flex-settings(flex, row);
    background-color: black;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    padding: 1% 3%;
}

.footer>p>a {
    color: #ffffff;
}

.footer__name {
    @include font-dimensions(700, 24px);
    line-height: 1.172;
}

.footer__logo {
    @include font-dimensions(500, 18px);
    line-height: 1.172;
}

.footer__contacts {
    @include font-dimensions(400, 16px);
    line-height: 1.625;
    text-transform: uppercase;
}

.footer__pricing {
    @include font-dimensions(400, 16px);
    line-height: 1.172;
    text-align: right;
}

.footer__pricing>a {
    text-decoration: none;
}