.modal-wrap {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.modal-wrap::backdrop {
  background-color: #817E7E99;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 475px;
  height: 589px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  gap: 15px;
}

.modal__title {
  @include font-dimensions(700, 22px);
  margin-bottom: 5px;
}

.modal__description {
  @include font-dimensions(400, 16px);
}

.feedback-form__label {
  @include flex-settings(flex, column);
  @include font-dimensions(500, 16px);
  margin-bottom: 33px;
}

.feedback-form__label-title {
  margin-bottom: 7px;
}

.feedback-form input,
.feedback-form textarea {
  padding: 8px;
  font-size: 16px;
  font-family: inherit;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.feedback-form textarea {
  resize: none;
  height: 95px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal-buttons .btn {
  width: 230px;
  height: 60px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 7px;
  cursor: pointer;
}

.cancel {
  background-color: #fff;
}

.submit {
  background-color: #000000;
  color: white;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-40%);
  color: #aaa;
  pointer-events: none;
}

.input-with-icon {

  & input,
  textarea {
    padding-right: 35px;
    width: 100%;
    box-sizing: border-box;
  }

  .fa-message {
    transform: translateY(-220%);
  }
}

textarea:invalid:focus,
input:invalid:focus,
input:invalid:out-of-range {
  outline: 2px solid red;
}

input:placeholder-shown{
  outline: 2px solid grey;
}