@font-face {
    font-family: "Roboto";
    src: url("fonts\\Roboto-Bold.ttf") format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts\\Roboto-Medium.ttf") format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Playfair Display";
    src: url("fonts\\PlayfairDisplay-Medium.ttf") format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Playfair Display";
    src: url("fonts\\PlayfairDisplay-SemiBold.ttf") format("ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Bitter";
    src: url("fonts\\Bitter-Regular.ttf") format("ttf");
    font-weight: 400;
}

body {
    font-family: "Roboto", "Playfair Display", "Bitter", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}

.header-menu,
.footer-logo,
.biography-position-skills,
.footer-logo-name,
.footer-contacts,
.footer-pricing,
.hero-section-text,
.tile-info-header,
.tile-info-text {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.header-menu,
.footer-logo-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.172;
}

.footer-logo,
.biography-position-skills {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.172;
}

.footer-contacts,
.footer-pricing,
.tile-info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.172;
}

.footer-contacts {
    line-height: 1.625;
}

.footer-pricing {
    text-align: right;
}

h1 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 86px;
    margin-left: 3px;
}

h2 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 86px;
}

h3 {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.172;
}

.quote {
    font-family: "Bitter", serif;
    font-weight: 400;
}

.first-quote {
    font-size: 26px;
}

.second-quote {
    font-size: 32px;
    box-sizing: border-box;
    margin: 0;
    grid-column: 2/3;
    text-align: center;
}

.strength-list {
    font-size: 34px;
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero-section-text {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 60px;
}

.tile-info-header {
    font-weight: 700;
    font-size: 16px;
}

.designer-name {
    text-transform: uppercase;
    margin: 0;
}

header {
    display: flex;
    height: 135px;
    max-width: 100vw;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -17px;
}

.header-nav {
    flex-grow: 2;
}

.header-menu {
    display: flex;
    gap: 48px;
    list-style-type: none;
    justify-content: end;
    margin: 15px;
}

.header-menu-item>a {
    text-decoration: none;
    color: #000000;
}

.message-icon-container {
    background-color: black;
}

.message-icon {
    background-color: white;
    border: 0px;
    padding: 1px 0;
}

.hero-section {
    min-height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 150px;
    max-width: 1400px;
    flex-direction: column;
}

.hero-section-image.hero {
    z-index: 0;
    max-height: 630px;
    max-width: 700px;
    object-fit: cover;
}

.hero-section-content {
    z-index: 1;
    background-color: #ffffff;
    flex-direction: column;
    width: 690px;
    min-height: 360px;
}

.hero {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section-header {
    margin-bottom: 0;
}

.biography-section {
    display: flex;
    max-width: 1165px;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 125px;
}

.biography-section-image {
    width: 49%;
    object-fit: cover;
    order: 0;
}

.biography-section-content {
    width: 39%;
    order: 2;
    display: flex;
    flex-direction: column;
}

.biography-section-content>h2 {
    max-width: 230px;
    margin: 180px 0 55px;
}

.biography-position {
    margin: 0;
}

.biography-skills {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
}

.biography-skills-item:nth-child(-n+3)::after {
    content: " /";
}

.black_rectangle {
    margin: 30px 0 20px;
    width: 20px;
    height: 6px;
    background-color: black;
}

.quote.first-quote {
    margin: 0;
}

.reversive-responsive-br {
    display: none;
}

.biography-section-header {
    order: 1;
    flex-grow: 1;
}

.biography-header-text {
    transform: rotate(-90deg) translateX(-17%) translateY(-79%);
    margin: 0;
}

.testimonials-section {
    display: grid;
    max-width: 1400px;
    box-sizing: border-box;
    grid-template-columns: 119px 1fr;
    margin: auto;
    margin-bottom: 140px;
}

.testimonials-section-frame {
    grid-column: 2;
    display: flex;
    box-sizing: border-box;
    grid-template-columns: 20fr 1fr 16fr;
}

.testimonials-section-header {
    order: 1;
    grid-column: 2/3;
}

.testimonials-section-header-text {
    transform: rotate(-90deg) translateX(-22%) translateY(-105%);
}

.testimonials-section-links-section {
    order: 0;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 98px 1fr;
}

.testimonials-section-content {
    order: 2;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.testimonials-section-links {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.link-tile {
    transform: rotate(-90deg);
    grid-column: 2/3;
    margin: 20px;
}

.link-address a {
    text-decoration: none;
    color: #000000;
}

.quote-pic-container {
    grid-column: 2/3;
    grid-row: 2/3;
}

.designers-section {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 130px;
    gap: 20px;
    overflow-x: auto;
}

.designers-tiles-section {
    order: 1;
    display: flex;
    flex-direction: row;
    height: 619px;
    gap: 20px;
    align-items: flex-end;
}

.designers-section-title {
    order: 0;
    margin-left: 130px;
}

.designers-section-header-text {
    margin-bottom: 0;
}

.designer-tile {
    display: flex;
    flex-direction: column;
}

.designer-info-tile {
    order: 1;
    width: 332px;
}

.designer-tile-pic {
    margin-bottom: 15px;
}

.big-pic-tile {
    align-items: flex-end;
}

.strong-points-section {
    margin-left: 40px;
    margin-bottom: 140px;
}

.strong-points-section-container {
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 10px;
}

.strong-points-section-content {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 20px;
    height: 555px;
}

.strong-points-text {
    padding: 0 40px;
}

.strong-points-text>h2 {
    margin: 0;
    margin-bottom: 10px;
}

.strong-points-pic {
    height: 100%;
    object-fit: cover;
}

.strong-points-section,
.strong-points-section-content,
.strong-points-text,
.quote.strength-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.quote.strength-list {
    align-items: center;
    justify-content: center;
}

@supports (display: grid) {
    .strong-points-section {
        display: grid;
        grid-auto-rows: max-content;
    }

    .strong-points-section-content {
        display: grid;
        grid-auto-flow: column;
    }

    .strong-points-text {
        display: grid;
        align-items: flex-start;
    }

    .quote.strength-list {
        display: grid;
        place-items: center;
    }
}

@media screen and (max-width: 768px) {
    header>h1 {
        font-size: 0;
    }

    header {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-height: 82px;
    }

    .header-menu-item {
        font-size: 0;
    }

    .header-menu-item::first-letter {
        font-size: 40px;
        font-family: "Bitter", serif;
    }

    .header-menu {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }

    .header-message-icon-container {
        margin: 0 10px 0 120px;
    }

    .hero-section {
        max-height: 685px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 90px;
    }

    .hero-section-header {
        font-weight: 400;
        font-size: 70px;
        margin-top: 0;
    }

    .hero-section-text {
        font-size: 18px;
    }

    .hero-section-image {
        max-height: 690px;
    }

    .hero-section-image.hero {
        left: 18px;
    }

    .hero-section-content.hero {
        width: 100%;
        max-height: 303px;
        top: 80px;
    }

    .biography-section {
        max-width: 100%;
        flex-direction: column;
        margin-bottom: 55px;
    }

    .biography-section-header {
        order: 0;
        flex-grow: 0;
        align-self: flex-end;
    }

    .biography-header-text {
        transform: translateX(-90%) translateY(75%);
        font-size: 18px;
    }

    .biography-skills {
        flex-direction: column;
        order: 0;
        margin: 0 0 30px 0;
        padding: 0;
    }

    .biography-skills-item {
        list-style: none;
        position: relative;
        padding: 0;
        padding-left: 3%;
        line-height: 1;
        margin: 0;
    }

    .biography-skills-item::before {
        content: "-";
        position: absolute;
        left: 0;

    }

    .biography-skills-item:nth-child(-n+3)::after {
        content: "";
    }

    .biography-section-content {
        width: 97%;
        order: 1;
        padding-left: 3%;
    }

    .biography-section-image {
        width: 100%;
        max-height: 400px;
        order: 10;
    }

    .biography-section-content>h2 {
        order: 6;
        max-width: 100%;
        font-size: 64px;
        padding-left: 3%;
        margin-top: 130px;
    }

    .black_rectangle {
        order: 5;
        display: none;
    }

    .first-quote {
        font-weight: 300;
        font-size: 30px;
    }

    .responsive-br {
        display: none;
    }

    .reversive-responsive-br {
        display: block;
    }

    .biography-section-content>h2::before {
        content: "-";
        position: absolute;
        left: 3%;
    }

    .designers-section {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        margin-left: 0;
        margin-bottom: 55px;
    }

    .designers-tiles-section {
        display: flex;
        flex-direction: row;
        max-height: 520px;
        gap: 5px;
        margin-left: 1%;
    }

    .designer-tile:last-child {
        display: none;
    }

    .designers-section-title {
        margin-left: 1%;
    }

    .designers-section-header-text {
        font-size: 18px;
    }

    .designer-tile-pic {
        max-height: 439px;
        max-width: 310px;
    }

    .designer-tile {
        align-items: flex-start;
    }

    .testimonials-section {
        max-width: 100%;
        max-height: 442px;
        display: flex;
        margin-bottom: 80px;
    }

    .testimonials-section-pic-container {
        display: none;
    }

    .testimonials-section-frame {
        display: flex;
        flex-direction: column;
    }

    .testimonials-section-header {
        order: 0;
        align-self: flex-end;
        margin-left: 0px;
        margin-right: 0px;
    }

    .testimonials-section-header-text {
        transform: none;
        font-size: 18px;
    }

    .testimonials-section-links-section {
        order: 2;
        display: flex;
        flex-direction: row;
    }

    .testimonials-section-links {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
    }

    .link-tile {
        transform: none;
    }

    .testimonials-section-content {
        order: 1;
        display: flex;
        flex-direction: row;
    }

    .second-quote {
        font-weight: 300;
        font-size: 30px;
        align-self: flex-start;
        margin: 5% 5% 0 1.39%;
    }

    .strong-points-section {
        max-width: 100%;
        max-height: 503px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
    }

    .strong-points-section-header-text {
        font-size: 18px;
    }

    .strong-points-section-container {
        max-width: 100%;
        max-height: 450px;
        display: flex;
        flex-direction: row;
        margin-left: 0;
    }

    .strong-points-section-content {
        max-height: 445px;
        display:flex;
        flex-direction: row;
    }

    .strong-points-pic-container {
        max-height: 450px;
    }

    .strong-points-pic-container:nth-child(5),
    .strong-points-pic-container:nth-child(4) {
        display: none;
    }

    .strong-points-text {
        order: -1;
        padding: 0;
        display: flex;
    }

    .strong-points-text h2 {
        font-size: 46px;
    }

    .quote.strength-list {
        display: flex;
        align-items: flex-start;
        font-size: 24px;
        padding: 10%;
        gap: 5px;
    }
}